# Detecting Bias and Variance in a Supervised Learning Model

This exercise is for learning purposes and taken from https://www.dataquest.io/blog/learning-curves-machine-learning/

## The Data

The data was sourced from

In [2]:
import pandas as pd
electricity = pd.read_excel('data/Folds5x2_pp.xlsx')
print(electricity.info())
electricity.sample(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
AT    9568 non-null float64
V     9568 non-null float64
AP    9568 non-null float64
RH    9568 non-null float64
PE    9568 non-null float64
dtypes: float64(5)
memory usage: 373.8 KB
None

         AT      V       AP     RH      PE
1965  22.91  66.44  1011.23  63.43  444.48
8412  11.82  41.26  1020.74  91.14  466.95
406   16.43  41.79  1005.47  76.89  455.85